<a href="https://colab.research.google.com/github/shashikala16/Numpy1/blob/main/Panads_Tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Pandas

Pandas is an open source Python package that provides numerous tools for data analysis. The package comes with several data structures that can be used for many different data manipulation tasks. It also has a variety of methods that can be invoked for data analysis, which comes in handy when working on data science and machine learning problems in Python.

### Advantages of Using Pandas

The following are some of the advantages of the Pandas library:

- It can present data in a way that is suitable for data analysis via its Series and DataFrame data structures.
- The package contains multiple methods for convenient data filtering.
- Pandas has a variety of utilities to perform Input/Output operations in a seamless manner. It can read data from a variety of formats such as CSV, TSV, MS Excel, etc.

#### How to install pandas ?

In [1]:
# import pandas and np

import pandas as pd
import numpy as np

### Pandas Data Structures

Pandas has two main data structures for data storage:

- Series
- DataFrame

#### Series
A series is similar to a one-dimensional array. It can store data of any type. The values of a Pandas Series are mutable.

In [2]:
s1 = pd.Series([1,2,3,4])
print(s1)

0    1
1    2
2    3
3    4
dtype: int64

In [3]:
# A Series may also be created from a numpy array. 
# Let us create a numpy array then convert it into a Pandas Series:

fruits = np.array(['apple','orange','mango','pear'])
series2 = pd.Series(fruits)
print(series2)

0     apple
1    orange
2     mango
3      pear
dtype: object

#### DataFrame

The Pandas DataFrame can be seen as a table. It organizes data into rows and columns, making it a two-dimensional data structure. 

Potentially, the columns are of a different type and the size of the DataFrame is mutable, and hence can be modified.

To create a DataFrame, you can choose to start from scratch or convert other data structures like Numpy arrays into a DataFrame. 

Here is how you can create a DataFrame from scratch:

In [4]:
df1 = pd.DataFrame({
    "C1": [1, 4, 8, 7, 9],
    "C2": ['a', 'column', 'with', 'a', 'string'],
    "C3": [1.23, 23.5, 45.6, 32.1234, 89.453],
    "C4": [True, False, True, False, True]
})

In [ ]:
print(df1)

   C1      C2       C3     C4
0   1       a   1.2300   True
1   4  column  23.5000  False
2   8    with  45.6000   True
3   7       a  32.1234  False
4   9  string  89.4530   True

In [5]:
# It is possible for us to create a DataFrame from a list or even a set of lists.
mylist = [4, 8, 12, 16, 20]
df2 = pd.DataFrame(mylist)
print(df2)

    0
0   4
1   8
2  12
3  16
4  20

In [6]:
items = [['Phone', 2000], ['TV', 1500], ['Radio', 800]]
df3 = pd.DataFrame(items)
print(df3)

       0     1
0  Phone  2000
1     TV  1500
2  Radio   800

In [7]:
items = [['Phone', 2000], ['TV', 1500], ['Radio', 800]]
df4 = pd.DataFrame(items, columns=['Item', 'Price'], dtype=float)
print(df4)

    Item   Price
0  Phone  2000.0
1     TV  1500.0
2  Radio   800.0

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: FutureWarning: Could not cast to float64, falling back to object. This behavior is deprecated. In a future version, when a dtype is passed to 'DataFrame', either all columns will be cast to that dtype, or a TypeError will be raised
  exec(code_obj, self.user_global_ns, self.user_ns)

In [8]:
# To get a summary of this item's data
df4.describe()

             Price
count     3.000000
mean   1433.333333
std     602.771377
min     800.000000
25%    1150.000000
50%    1500.000000
75%    1750.000000
max    2000.000000

### Importing Data
Often you'll need to use Pandas to analyze data that is stored in an Excel file or in a CSV file. This requires you to open and import the data from such sources into Pandas.

#### Importing CSV Data

A CSV file, which stands for comma separated value, is simply a text file with values separated by a comma (,). 

This is a very well-known and often-used standard

In [9]:
data = pd.read_csv('cars.xls')
print(data)

     age  gender  miles   debt  income  sales
0     28       0     23      0    4099    620
1     26       0     27      0    2677   1792
2     30       1     58  41576    6215  27754
3     26       1     25  43172    7626  28256
4     20       1     17   6979    8071   4438
..   ...     ...    ...    ...     ...    ...
958   22       0     11   8778    9829   1593
959   19       1     23   4850    3470   4742
960   28       1     28   9312    2720  12771
961   50       0     29  51343    8713  28511
962   47       1     15   3735    6406   6104

[963 rows x 6 columns]

In [10]:
data.head()

   age  gender  miles   debt  income  sales
0   28       0     23      0    4099    620
1   26       0     27      0    2677   1792
2   30       1     58  41576    6215  27754
3   26       1     25  43172    7626  28256
4   20       1     17   6979    8071   4438

In [11]:
data.tail()

     age  gender  miles   debt  income  sales
958   22       0     11   8778    9829   1593
959   19       1     23   4850    3470   4742
960   28       1     28   9312    2720  12771
961   50       0     29  51343    8713  28511
962   47       1     15   3735    6406   6104

In [12]:
data.head(3)

   age  gender  miles   debt  income  sales
0   28       0     23      0    4099    620
1   26       0     27      0    2677   1792
2   30       1     58  41576    6215  27754

In [19]:
data['age']

0      28
1      26
2      30
3      26
4      20
       ..
958    22
959    19
960    28
961    50
962    47
Name: age, Length: 963, dtype: int64

In [20]:
data['miles']

0      23
1      27
2      58
3      25
4      17
       ..
958    11
959    23
960    28
961    29
962    15
Name: miles, Length: 963, dtype: int64

In [21]:
# The loc() method is a nice utility that helps us read only certain rows of a specific column in the dataset
print (data.loc[[0, 4, 7], ['debt']])

   debt
0     0
4  6979
7     0

In [22]:
data.loc[:, ['age', 'miles']]

     age  miles
0     28     23
1     26     27
2     30     58
3     26     25
4     20     17
..   ...    ...
958   22     11
959   19     23
960   28     28
961   50     29
962   47     15

[963 rows x 2 columns]

In [23]:
data.loc[:3, ['age', 'miles']]

   age  miles
0   28     23
1   26     27
2   30     58
3   26     25

### Data Wrangling
Data wrangling is the process of processing data to prepare it for use in the next step. 

This processes include merging, grouping, and concatenation. 

This kind of manipulation is often needed in data science to get your data in to a form that works well with whatever analysis or algorithms that you're going to put it through.

In [24]:
# Merging
d1 = {
    'subject_id': ['1', '2', '3', '4', '5'],
    'student_name': ['John', 'Emily', 'Kate', 'Joseph', 'Dennis']
}

d2 = {
    'subject_id': ['4', '5', '6', '7', '8'],
    'student_name': ['Brian', 'William', 'Lilian', 'Grace', 'Caleb']
}

df1 = pd.DataFrame(d1, columns=['subject_id', 'student_name'])
df2 = pd.DataFrame(d2, columns=['subject_id', 'student_name'])

In [25]:
df1

  subject_id student_name
0          1         John
1          2        Emily
2          3         Kate
3          4       Joseph
4          5       Dennis

In [26]:
df2

  subject_id student_name
0          4        Brian
1          5      William
2          6       Lilian
3          7        Grace
4          8        Caleb

In [27]:
pd.merge(df1, df2, on='subject_id')

  subject_id student_name_x student_name_y
0          4         Joseph          Brian
1          5         Dennis        William

In [28]:
# Grouping
#  process of putting data into various categories.

raw = {
    'Name': ['John', 'John', 'Grace', 'Grace', 'Benjamin', 'Benjamin', 'Benjamin',
        'Benjamin', 'John', 'Alex', 'Alex', 'Alex'],
    'Position': [2, 1, 1, 4, 2, 4, 3, 1, 3, 2, 4, 3],
    'Year': [2009, 2010, 2009, 2010, 2010, 2010, 2011, 2012, 2011, 2013, 2013, 2012],
    'Marks':[408, 398, 422, 376, 401, 380, 396, 388, 356, 402, 368, 378]
}
df3 = pd.DataFrame(raw)

In [29]:
df3

        Name  Position  Year  Marks
0       John         2  2009    408
1       John         1  2010    398
2      Grace         1  2009    422
3      Grace         4  2010    376
4   Benjamin         2  2010    401
5   Benjamin         4  2010    380
6   Benjamin         3  2011    396
7   Benjamin         1  2012    388
8       John         3  2011    356
9       Alex         2  2013    402
10      Alex         4  2013    368
11      Alex         3  2012    378

In [30]:
group = df3.groupby('Year')

In [31]:
group

In [32]:
group.get_group(2010)

       Name  Position  Year  Marks
1      John         1  2010    398
3     Grace         4  2010    376
4  Benjamin         2  2010    401
5  Benjamin         4  2010    380

In [33]:
#Concatenation
# basically means to add one set of data to another
print(pd.concat([df1, df2]))

  subject_id student_name
0          1         John
1          2        Emily
2          3         Kate
3          4       Joseph
4          5       Dennis
0          4        Brian
1          5      William
2          6       Lilian
3          7        Grace
4          8        Caleb

In [34]:
pd.concat([df1, df2], axis=1)

  subject_id student_name subject_id student_name
0          1         John          4        Brian
1          2        Emily          5      William
2          3         Kate          6       Lilian
3          4       Joseph          7        Grace
4          5       Dennis          8        Caleb

### Descriptive Statistics
describe() function gives the descriptive statistics for numerical columns, but the character columns are excluded.

In [35]:
data = {
    'Name': ['John', 'Alice', 'Joseph', 'Alex'],
    'English': [64, 78, 68, 58],
    'Maths': [76, 54, 72, 64]
}

df = pd.DataFrame(data)
df.describe()

         English      Maths
count   4.000000   4.000000
mean   67.000000  66.500000
std     8.406347   9.712535
min    58.000000  54.000000
25%    62.500000  61.500000
50%    66.000000  68.000000
75%    70.500000  73.000000
max    78.000000  76.000000